

.card-profile-image {
  position: relative;
 }

.card-profile-image   img {
  max-width: 180px;
  transform: translate(-50%,-30%);
  position: absolute;
  left: 50%;
}

.card-profile-image   img:hover{
  transform: translate(-50%, -33%);
}

.card{
  margin-bottom: 10px;
}