body {
    background: #004d40;
    text-align: center;
    padding: 50px 0;
  }
  body h1 {
    font-size: 26px;
    color: #fff;
  }
  
  .timer {
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin-top: 50px;
  }
  .timer .day,
  .timer .hour,
  .timer .min,
  .timer .sec {
    font-size: 30px;
    display: inline-block;
    font-weight: 500;
    text-align: center;
    margin: 0 5px;
  }
  .timer .day .format,
  .timer .hour .format,
  .timer .min .format,
  .timer .sec .format {
    font-weight: 300;
    font-size: 14px;
    opacity: 0.8;
    width: 60px;
    color: white;
  }
  .timer .number {
    background-color: #cddc39;
    padding: 0 5px;
    border-radius: 5px;
    display: inline-block;
    width: 60px;
    text-align: center;
  }
  .timer .message {
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
  }
  .timer .status-tag {
    width: 270px;
    margin: 10px auto;
    padding: 8px 0;
    font-weight: 500;
    color: #000;
    text-align: center;
    border-radius: 15px;
  }
  .timer .status-tag.upcoming {
    background-color: lightGreen;
  }
  .timer .status-tag.running {
    background-color: #cddc39;
    cursor: pointer;
  }
  .timer .status-tag.expired {
    background-color: silver;
  }