<template>
  <v-card
    class="mx-auto"
    max-width=""
    outlined
  >

    <v-list-item >

           
      <v-list-item-content>
          
        <div class="overline mb-4 objective-title">
             <v-avatar v-if="logo">
                <img
                    :src="logo"
                    alt="logo"
                >
            </v-avatar>
          {{title}}
          
        </div>
    
        <v-list-item-title class="headline mb-1">
          {{name}}
        </v-list-item-title>
        <v-list-item-title v-if="type" class="headline mb-1">
          {{toUpperCase(type)}}
        </v-list-item-title>
        <v-list-item-subtitle class="subtitle">
             <i class="fas fa-globe-americas"></i> 
             <span v-if="remote"> Remote - {{locations}}</span>
             <span v-else> {{locations}} </span>
             
        </v-list-item-subtitle>
        <v-list-item-subtitle class="subtitle">
            
            <span v-if="compensations">
                <i class="far fa-money-bill-alt"></i>
                <span v-if="compensations.visible">{{parseCurrency(compensations.data)}}</span>
                <span v-else> Hidden</span>
            </span>
            <span v-else-if="from"> <i class="far fa-money-bill-alt"></i> To be defined </span>
        </v-list-item-subtitle>
        <v-list-item-subtitle v-if="from" class="subtitle member"> Team Members: 
            <v-avatar v-for="member in members" v-bind:key="member.objectID">
            <img
                :src="member.picture"
                alt="member.name"
                @click="goToProfileMember(member.username)"
            >
            </v-avatar>

        </v-list-item-subtitle>
        <v-list-item-subtitle v-else class="subtitle"> Open to: 
             <v-chip-group
                    column
                    
                >
                    
                    <v-chip class="skills" v-for="(open, index) in openTo" :key="index">{{toUpperCase(open)}}</v-chip>
                </v-chip-group>
        </v-list-item-subtitle>
      </v-list-item-content>
      <v-list-item-content>
            <div v-if="from" id="timer" class="timer">
                <Timer 
                        :starttime="starttime" 
                        :endtime="endtime" 
                ></Timer>
            </div>
            <div>
                <v-chip-group
                    column
                    
                >
                    
                    <v-chip class="skills" v-for="skill in skills" :key="skill.name">{{skill.name}} - {{skill.experience}}</v-chip>
                </v-chip-group>
            </div>
                <v-card-actions>
                    <v-btn class="view-more"
                        outlined
                        rounded
                        text
                        @click="goToContent"
                    >
                       View more
                    </v-btn>
                    <v-btn
                        class="ma-2"
                        text
                        icon
                        color="blue lighten-2"
                    >
                        <v-icon>mdi-thumb-up</v-icon>
                    </v-btn>
                    <v-btn
                        class="ma-2"
                        text
                        icon
                        color="red lighten-2"
                    >
                        <v-icon>mdi-thumb-down</v-icon>
                    </v-btn>
                </v-card-actions>
        </v-list-item-content>


    </v-list-item>


  </v-card>
</template>
<script>
import Timer from './Timer'
  export default {
      props:{
          data: Object
      },
      data() {
            return {
                id: this.data.id,
                logo: this.data.logo,
                title: this.data.title,
                type: this.data.type,
                name: this.data.name,
                starttime: this.data.starttime,
                endtime: this.data.endtime,
                members: this.data.members,
                compensations: this.data.compensations,
                remote: this.data.remote,
                locations: this.data.locations[0],
                skills: this.data.skills,
                from:this.data.parent,
                openTo: this.data.openTo,
            };
        },
    methods: {
        parseCurrency: function (data){
            const currency = data.currency
            const minAmount = this.kFormatter(data.minAmount)
            const maxAmount = this.kFormatter(data.maxAmount)
            const periodicity = data.periodicity
            if (maxAmount > 0)
                return currency + minAmount + " - "  + maxAmount + " /" + periodicity
            return currency + minAmount + " /" + periodicity
        },
        kFormatter: function (num) {
            return Math.abs(num) > 999 ? Math.sign(num)*((Math.abs(num)/1000).toFixed(1)) + 'k' : Math.sign(num)*Math.abs(num)
        },
        toUpperCase: function (string){
            return string.charAt(0).toUpperCase() + string.slice(1)
        },
        goToContent: function(){
            if (this.from)
                this.$router.push({ name: this.from, params: { id: this.id } })
            else
                this.$router.push({ name: "Profile", params: { username: this.id } })
        },
        goToProfileMember: function(username){
            this.$router.push({ name: "Profile", params: { username: username } })
        }
    },
      name:"Card",
      components: {
          Timer
      }
  }
</script>


<style>
    div.objective-title{
        color: #cddc39;
        /* text-align: left; */
    }

    div.headline{
        color: white;
    }

    div.subtitle{
        color: white !important;
    }

    div.subtitle img{
        cursor: pointer;
    }
    span.skills{
        cursor: default;
    }

    button.view-more{
        background-color: #cddc39;
    }

    .v-icon{
        color: #cddc39 !important;
    }


</style>



