<template>
    <div>
        <v-list-item>
            
             <v-list-item-content>
                 <v-list-item-title>{{title}}</v-list-item-title>
                        <v-list-item-subtitle v-on:click="setFilter('skill/role')" class="subtitle">
                           Skills/Role
                        </v-list-item-subtitle>
                        <v-list-item-subtitle  v-on:click="setFilter('organization')" class="subtitle">
                          Organization
                        </v-list-item-subtitle>
            </v-list-item-content>
        </v-list-item>
             
        <v-divider></v-divider>

        <v-list >
            <v-list-item
            v-for="item in filters"
            :key="item.title"
            >

            <v-list-item-content>
                <v-list-item-title>{{ item.title }}</v-list-item-title>
                <v-list-item-subtitle class="subtitle" v-for="option in item.options" :key="option">
                          {{option}}
                </v-list-item-subtitle>
            </v-list-item-content>
            </v-list-item>
        </v-list>
    </div>
        
    
</template>

<script>

    export default ({
        data () {
            return{
                title:"Filters jobs by",
                filters: this.items,
                filter:"",
            }
        },
        props:{
            items: Array,
        },
        name:"Filters",
        methods:{
            setFilter: function(option){
                this.filter = option
                 this.$emit('setFilter', this.filter)
            }
        }
    })
</script>

<style scoped>
    div.v-list-item{
        color: white !important;
    }

    .theme--light.v-navigation-drawer .v-divider {
        border-color: white !important;
    }

    div.v-list-item__title{
        color: #cddc39;
    }

    .subtitle{
        cursor: pointer;
    }
</style>
