<template>
    <div class=" h-100 sticky">
        <div class="d-flex justify-content-center h-100">
            <div class="searchbar">
                    <input v-on:keyup.enter="search()" class="search_input" v-model="input" type="text" name="" :placeholder="placeholder">
                    <a  class="search_icon"><i class="fas fa-search"></i></a>
            </div>
        </div>
    </div>
</template>


<script>


export default {
    data() {
        return {
            input: this.inputSearch
        };
    },
    props:{
        placeholder: String,
        inputSearch: String
    },
    name: 'SearchBar',
    methods:{
        search: function(){
            this.$emit('search', this.input)
        },
    }

}
</script>


<style>
@import '../assets/styles/searchbar.css';
</style>