<template>
  <div v-if="isLoaded" class="main-wrapper">
    <v-card
      class="mx-auto my-12 card-content"
      max-width="650"
    >
      <template slot="progress">
      <v-progress-linear
        color="deep-purple"
        height="10"
        indeterminate
      ></v-progress-linear>
      </template>
      <v-img
      height="250"
      widht="1000"
      :src="this.result.picture"
      ></v-img>

      <v-card-title max-width="500">{{this.result.objective}}</v-card-title>
      <div class="overline mb-4 objective-title">
              Closes in 
            </div>
            <div id="timer" class="timer">
              <Timer 
              :starttime="this.result.starttime" 
              :endtime="this.result.endtime" />
      </div>
          <v-divider class="mx-4"></v-divider>
      <v-card-title class="objective-title">Experiences</v-card-title>
      <v-chip-group
                active-class="deep-purple accent-4 white--text"
                column
              >
                <v-chip v-for="strength in this.result.strengths" :key="strength.id">{{strength.name}} - {{strength.experience}}</v-chip>

      </v-chip-group>
          <v-divider class="mx-4"></v-divider>
      <v-card-title class="objective-title">Organization</v-card-title>
       
        <div class="overline mb-4">
            <v-avatar>
            <img
                :src="this.result.hiringOrganization.picture"
                alt="logo"
            >
          
          </v-avatar>
            {{this.result.hiringOrganization.name}}
          
        </div>
            <v-divider class="mx-4"></v-divider>
      <v-card-title class="objective-title">Monetary compensation</v-card-title>  
      <div class="monetary-compensation">
          <span>{{this.result.baseSalary}}</span>
      </div>
          <v-divider class="mx-4"></v-divider>
      <v-card-title class="objective-title">Why this opportunity exists</v-card-title>
      <div class="content-reasons">
        {{this.result.reason}}
      </div>
          <v-divider class="mx-4"></v-divider>
      <v-card-title class="objective-title">Responsibilities</v-card-title>
        <div v-for="(respon, index) in this.result.responsibilities" :key="index" class="content-reasons">
          {{respon}}
        </div>
        <v-divider class="mx-4"></v-divider>
    </v-card>
  </div>
</template>

<script>
import {URL_SERVER_OPORTUNITIES} from '../assets/js/constants'
import axios from "axios";
import Timer from "../components/Timer"
export default{
    data() {
      return {
          id : this.$route.params.id,
          result: {},
          isLoaded: false,
      }
    },
    mounted() {
      const url = URL_SERVER_OPORTUNITIES + this.id
      axios.get(url)
      .then(response => { this.result = response.data 
                          this.isLoaded = true
      })
      .catch(err => {
            this.error = err.message;
      });
    },
    components:{
      Timer
    }

}
</script>


<style scoped>
  .blog-image img{
    height: 370px;
  }

  .card-content{
    background-color: #27292d !important;
    color: white !important;
  }

  .timer{
    margin-top: 0px;
    color: black;
  }

  .monetary-compensation span{

    padding: 10px 161px;
    background: #e0e0e0;
    color: black;
    border-radius: 50px;
  }
  .content-reasons{
    text-align: left;
    padding-left: 18px;
  }

</style>