<template>
  <div v-if="isLoaded" class="main-wrapper">
    <v-card
      class="mx-auto my-12 card-content"
      max-width="650"
    >
      <template slot="progress">
      <v-progress-linear
        color="deep-purple"
        height="10"
        indeterminate
      ></v-progress-linear>
      </template>
			<avatar v-if="result.picture" :image="this.result.picture" :size=96 class="avatar"></avatar>
                        <avatar v-else :fullname="this.result.name" :size=96 class="avatar"></avatar>
						<div class="overline mb-4 objective-title">
							{{this.result.name}} 
						</div>
		<v-card-title max-width="500">{{result.professionalHeadline}}</v-card-title>
          <v-divider class="mx-4"></v-divider>
      <v-card-title class="objective-title">Current Skills</v-card-title>
		<v-chip-group
                active-class="deep-purple accent-4 white--text"
                column
              >
                <v-chip v-for="strength in this.result.strengths" :key="strength.id">{{strength.name}} - {{strength.experience}}</v-chip>

      </v-chip-group>
        <v-divider class="mx-4"></v-divider>
		<v-card-title class="objective-title">Languages</v-card-title>
		<v-chip-group
                active-class="deep-purple accent-4 white--text"
                column
              >
                <v-chip v-for="language in this.result.languages" :key="language.code">{{language.language}}</v-chip>

      </v-chip-group>
		<v-divider class="mx-4"></v-divider>
		<v-card-title class="objective-title">Interests</v-card-title>
		<v-chip-group
                active-class="deep-purple accent-4 white--text"
                column
              >
                <v-chip v-for="interest in this.result.interests" :key="interest.id">{{interest.name}}</v-chip>

      </v-chip-group>
    </v-card>
  </div>
</template>

<script>
import {URL_SERVER_USER_INFO} from '../assets/js/constants'
import axios from "axios";
import Avatar from 'vue-avatar-component'
export default{
	data() {
		return {
			username: this.$route.params.username,
			isLoaded: false,
			result: {}
		}
	},
  mounted() {
    const url = URL_SERVER_USER_INFO + this.username;
    axios.get(url)
    .then(response => {
        this.result = response.data
        this.isLoaded = true

    })
    .catch(err => {
          this.error = err.message;
        });
  },
  components: { Avatar }
}
</script>


<style >
    .card-content{
		background-color: #27292d !important;
		color: white !important;
		margin-top: 25px;
		padding-top: 25px;
		margin-bottom: 25px;
	}

	.v-item-group{
		padding-left: 10px;
	}
</style>
