<template>
    <div>
         <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="row">

                            <div class="col-9 searchBar">
                                <SearchBar :placeholder="placeholder"
                                            :inputSearch="inputSearch"
                                            @search="searchPeople($event)"/>
                            </div>
                            <div class="col-11 pagination-container">
                                <div class="overflow-auto">
                                    <b-pagination
                                    v-model="currentPage"
                                    :total-rows="rows()"
                                    :per-page="perPage"
                                    
                                    ></b-pagination>
                                </div>
                            </div>
                            <div class="cards col-8">
                                <Card v-for="job in getActualPersonPerPage()" :key="job.id" :data="job"/>
                            </div>
                        </div> 
                    </div>
                    
                    
                </div>
            </div>
    </div>
           
    
</template>

<script>
import axios from "axios";
import {URL_PEOPLE} from "../assets/js/constants"
import Card from "../components/Card"
import SearchBar from "../components/SearchBar"
    export default ({
        data() {
            return {
                results:[],
                drawer: null,
                items: [
                    { title: 'For you', options: ["Best For You", "Your dream Jobs"] },
                    { title: 'Status', icon: 'mdi-forum' },
                ],
                inputSearch:"",
                filter:"skills/role",
                perPage:5,
                currentPage:1,
                placeholder:"Search People"
            };
        },
        name: 'SearchJobs',
        components: {
            Card,
            SearchBar,
        },
        created: function () {
        //    this.searchPeople()
        },
        methods: {
            rows: function(){
                return this.results.length
            },
            getActualPersonPerPage: function(){
                let fromIndex = 0
                let toIndex = this.perPage
                if (this.currentPage > 0){
                    fromIndex = (this.currentPage - 1 ) * this.perPage
                    toIndex = fromIndex + this.perPage
                }
                let newJobs = this.results.slice( fromIndex, toIndex)
                return newJobs
                
            },
            parsePayload: function(){
                const payload = {"size":50, "text":this.inputSearch}
                return payload
            },
            async searchPeople (person) {
                this.inputSearch = person
                const payload = this.parsePayload()
                axios.post(URL_PEOPLE, payload)
                .then(response => {
                    this.results = response.data

                })
                .catch(err => {
                    this.error = err.message;
                });
            }
        },
    })
</script>

<style>
    .container {
        background-color: black;
    }
    .cards {
        margin-right: auto;
        margin-left: auto;
    }

    .cards > div {
        margin-bottom: 15px;
        
    }

    .cards > div > div {
        background-color: #27292d;
    }

    .page-link{
        background-color: black !important;
        color: #cddc39  !important;
    }

    .page-item.disabled .page-link {
        color: white !important;
        background-color: black !important;
        border-color: #cddc39 !important;
    }

    [role="button"], [type="button"], [type="reset"], [type="submit"], button {
            cursor: pointer;
            color: inherit;
    }

    .page-item.active .page-link {
        color: black !important;
        background-color: #cddc39 !important;
        border-color: #cddc39 !important;
    }
    .filters-nav{
        background: #27292d !important;
    }

    .searchBar{
        margin-left: auto;
        margin-right: auto;
    }
</style>