<template>
    <div>
         <div class="container">
                <div class="row">
                    <div class="col-12">
                            <v-navigation-drawer
                                v-model="drawer"
                                absolute
                                temporary
                                class="filters-nav"
                            >
                                <Filters 
                                    :drawerProp ="drawer"
                                    :items ="items"
                                    @setFilter="filterTest($event)"
                                />
                            </v-navigation-drawer>
                        <div class="row">
                            <div class="col-3">
                                <v-btn
                                    color="pink"
                                    dark
                                    @click.stop="drawer = !drawer"
                                    >
                                    Filters
                                </v-btn>
                                   <v-list-item-subtitle class="subtitle">
                                        <span> Searching by {{this.filter}} </span>
                                        
                                    </v-list-item-subtitle>
                            </div>
                            <div class="col-9">
                                <SearchBar :placeholder="placeholder"
                                            :inputSearch="inputSearch"
                                            @search="searchJobs($event)"/>
                            </div>
                            <div class="col-11 pagination-container">
                                <div class="overflow-auto">
                                    <b-pagination
                                    v-model="currentPage"
                                    :total-rows="rows()"
                                    :per-page="perPage"
                                    ></b-pagination>
                                </div>
                            </div>
                            <div class="cards col-9">
                                <Card v-for="job in getActualJobsPerPage()" :key="job.id" :data="job"/>
                            </div>
                        </div> 
                    </div>
                    
                    
                </div>
            </div>
    </div>
           
    
</template>

<script>
import axios from "axios";
import {URL_OPPORTUNITIES, FILTERS_JOBS} from "../assets/js/constants"
import Card from "../components/Card"
import SearchBar from "../components/SearchBar"
import Filters from "../components/Filters"

    export default ({
        data() {
            return {
                results:[],
                drawer: null,
                items: FILTERS_JOBS,
                inputSearch:"",
                filter:"skill/role",
                perPage:5,
                currentPage:1,
                placeholder:"Search Jobs"
            };
        },
        name: 'SearchJobs',
        components: {
            Card,
            SearchBar,
            Filters,
        },
        created: function () {
        },
        methods: {
            filterTest: function(filter){
                this.filter = filter
                this.drawer = !this.drawer
                this.placeholder = "Search Jobs by" + this.filter
                this.inputSearch = ""
            },
            rows: function(){
                return this.results.length
            },
            getActualJobsPerPage: function(){
                let fromIndex = 0
                let toIndex = this.perPage
                if (this.currentPage > 0){
                    fromIndex = (this.currentPage - 1 ) * this.perPage
                    toIndex = fromIndex + this.perPage
                }
                let newJobs = this.results.slice( fromIndex, toIndex)
                return newJobs
                
            },
            parsePayload: function(){
                const payload = {"size":50, "text":this.inputSearch, "filter_type":this.filter}
                return payload
            },
            async searchJobs (input) {
                this.inputSearch = input
                const payload = this.parsePayload()
                axios.post(URL_OPPORTUNITIES, payload)
                .then(response => {
                    this.results = response.data

                })
                .catch(err => {
                    this.error = err.message;
                });
            }
        },
    })
</script>

<style>
    .container {
        background-color: black;
    }
    .cards {
        margin-right: auto;
        margin-left: auto;
    }

    .cards > div {
        margin-bottom: 15px;
        
    }

    .cards > div > div {
        background-color: #27292d;
    }

    .page-link{
        background-color: black !important;
        color: #cddc39  !important;
    }

    .page-item.disabled .page-link {
        color: white !important;
        background-color: black !important;
        border-color: #cddc39 !important;
    }

    [role="button"], [type="button"], [type="reset"], [type="submit"], button {
            cursor: pointer;
            color: inherit;
    }

    .page-item.active .page-link {
        color: black !important;
        background-color: #cddc39 !important;
        border-color: #cddc39 !important;
    }
    .filters-nav{
        background: #27292d !important;
    }
</style>