<template>
  <div id="app">
      <div>
        <b-nav tabs fill>
          
          <b-nav-item href="/"> <b-icon icon='search'></b-icon> Jobs</b-nav-item>
          <b-nav-item href="/search/people"><b-icon icon='search'></b-icon > People</b-nav-item>
        </b-nav>
      </div>
    <router-view/>
  </div>
</template>s

<style>
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #27292d !important;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50 !important;
}

.nav-tabs .nav-link {
    color: white !important;
}
</style>
